$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_bootswatch.scss";
@import "_bsvars.scss";
@import "_variables.scss";
@import "_mix.scss";
body {
    padding-top: 0px;
    background-color: #efefef;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 10px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #3a3a3a;
        border-right: 1px solid #eee;
        .logo {
            padding-left: 10px;
            padding-top: 25px;
            padding-bottom: 30px;
            margin-bottom: 20px;
            background-color: #282828;
        }
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    > {
        li > a {
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 35px;
        }
        li > a:hover {
            background-color: rgba(255, 255, 255, 0.09);
        }
        li > a:focus {
            background-color: rgba(255, 255, 255, 0.09);
        }
        .active > a {
            color: #3a3a3a;
            background-color: #428bca;
            &:hover,
            &:focus {
                color: #3a3a3a;
                background-color: #428bca;
            }
        }
    }
}


/*
 * Main content
 */

.main {
    padding: 20px;
    .page-header {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.login-nav {
    background-color: $somewhite;
    @include getFont(400);
    h4 {
        color: $theblue;
    }
    .session-info {
        margin-top: 5px;
        img {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .user {
        text-transform: uppercase;
    }
}

.nav-tabs {
    border-bottom: none !important;
    @include getFont(400);
    font-size: 14px;
    text-transform: uppercase;
    > li > a,
    > li > a:focus {
        margin-right: 0;
        background-color: transparent;
        border: none;
        color: $navbar-default-link-color;
        @include box-shadow(inset 0 -1px 0 #ddd);
        @include transition(all 0.2s);
        &:hover {
            background-color: transparent;
            @include box-shadow(inset 0 -3px 0 $brand-primary);
            color: $brand-primary;
        }
    }
    & > li.active > a,
    & > li.active > a:focus {
        border: none;
        @include box-shadow(inset 0 -2px 0 $brand-primary);
        color: $brand-primary;
        background-color: transparent;
        &:hover {
            border: none;
            color: $brand-primary;
            background-color: transparent;
        }
    }
    & > li.disabled > a {
        @include box-shadow(inset 0 -1px 0 #ddd);
    }
    &.nav-justified {
        & > li > a,
        & > li > a:hover,
        & > li > a:focus,
        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            border: none;
        }
    }
    .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown-menu {
    margin-top: 0;
    border: none;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .3));
}

.content-spacer {
    margin-top: 50px;
    padding: 30px;
}

.cat-form {
    @extend .content-spacer;
    background-color: $somewhite;
    h4 {
        text-transform: uppercase;
        @include getFont(600);
    }
    .btn-link {
        color: $theblue;
    }
}

.cat-table {
    @extend .content-spacer;
    thead {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $secgray;
        color: $somewhite;
        th {
            @include getFont(400);
        }
    }
}
.add-btn {
  background-color: $theblue;
  color:$somewhite !important;

}
.gpr-form {
    @extend .content-spacer;
    background-color: $somewhite;
    h4 {
        text-transform: uppercase;
        @include getFont(600);
    }
    .btn-link {
        color: $theblue;
    }

    thead {
      background-color: $othergray;
      color:$secgray;
              @include getFont(600);
              font-size: 10px;

    }
}

.gpr-table {
    @extend .content-spacer;
    thead {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $secgray;
        color: $somewhite;
        th {
            @include getFont(400);
        }
    }
}